name: Dependabot Auto-merge
on:
  pull_request:
    branches:
      - 'main'

permissions:
  pull-requests: write
  contents: write

jobs:
  dependabot-auto-merge:
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    uses: HillwoodPark/shared-github-workflows/.github/workflows/dependabot-auto-approve.yml@main
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
    with:
      node-version: '22.19.0'
      npm-registry-url: 'https://npm.pkg.github.com'
